<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pusheenicorn.safetyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permision.CALL_PHONE" />

    <application
        android:name=".ParseApp"
        android:allowBackup="true"
        android:icon="@drawable/logo3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_api_key" />

        <activity android:name=".FriendsActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".MapActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".EventsActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".SignupActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.pusheenicorn.safetyapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity android:name=".LoginActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".ContactActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".CalendarChoiceActivity" />

        <receiver android:name=".MessagesReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <!--<action android:name="my.action.string" />-->
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.pusheenicorn.safetyapp.FriendCheckReceiver"
            android:exported="false">
        </receiver>

        <service
            android:name=".receivers.EventEmergencyService"
            android:exported="false"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <receiver android:name=".NotificationPublisher" />
        <receiver android:name=".receivers.CheckinReceiver" />
        <receiver android:name=".receivers.AlarmStopReceiver" />

        <activity android:name=".BaseActivity" />
        <activity android:name=".HotlineActivity"/>
        <activity android:name=".VideoActivity"/>
    </application>

</manifest>